# These configuration is meant to be used in build container.
# Fill accordingly to your packaged application.

packagename="${PACKAGENAME}"
debianpackagename=$(echo ${PACKAGENAME} | grep "s/_/-/g")
buildplatform=amd64
builddockername=DockerfileBuilder
builddebianimage=bookworm-slim
testdockername=DockerfileTester
testdebianimage=bookworm-slim
