# This configuration example is meant to be adapted for TEST, DEV or PROD .env file creation
FLASK_DEBUG=True
DEVELOPMENT_ENV=False
FLASK_APP=src/url_checker/app.py:app
#
URLCHECKER_INSTANCE_PATH=your_absolute_git_clone_path
URLCHECKER_JSON_FILE_PATH=in_general_your_absolute_to_git_clone_path

# !!! Do not define this in Prod !!!
# Database and User should already exist and created beforehand
URLCHECKER_MYSQL_ROOT_PASSWORD=myrootpassword
#
URLCHECKER_MYSQL_DBNAME=urlchecker
URLCHECKER_MYSQL_USER=urlchecker
URLCHECKER_MYSQL_PASSWORD=myurlcheckerpassword

URLCHECKER_RABBITMQ_DEFAULT_USER=guest
URLCHECKER_RABBITMQ_DEFAULT_PASS=guest

URLCHECKER_API_TOKEN=your-api-token
